.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBasica {
  display: flex;
  gap: 50px;
  width: 65%;
  align-items: center;
  text-align: justify;

  img {
    width: 250px;
  }

  @media (max-width: 1260px) {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
