.headerContainer {
  background-color: var(--secondary-bg);
  height: 40px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    font-weight: bold;
    color: #000;
  }
}
