/* Estilos globais */

:root {
  --text: #fff;
  --text-h: #fff;
  --bg: #1b1b34;
  --secondary-bg: #8282cb;
  --accent-color: #edcc55;

  --sans: ui-monospace, Consolas, monospace;
  --heading: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  /* classe da div no index.html */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  margin-top: 0;
}

h1 {
  font-size: 48px;
  letter-spacing: -1.5px;
  text-shadow:
    2px 2px var(--bg),
    4px 4px var(--accent-color);
  @media (max-width: 1024px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  letter-spacing: -0.2px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: var(--accent-color);
  padding: 5px 10px;
}

a.active {
  background-color: var(--accent-color);
  border-radius: 5px;
}

img {
  border-radius: 5px;
  box-shadow: 4px 4px var(--accent-color);
  object-fit: contain;
}
